<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bucket list Buddy</title>
</head>
<body >
  <nav>
    <ul>
      <li><a href="/bucketLists/profile">Your Profile</a></li>
      <li><a href="/bucketLists">Explore Bucket Lists</a></li>
      <li><a href="/bucketLists/new">Add To Your Bucket List</a></li>
    </ul>
  </nav>
  <h1>Bucket List Buddy</h1>
  <p>"Google Login""</p>
</body>
</html>