<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bucket list Buddy</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body >
  <nav>
    <ul>
      <li><a href="/trips/profile">Your Profile</a></li>
      <li><a href="/trips">Explore Bucket Lists</a></li>
      <li id="add-trip"><a href="/trips/new">Add To Your Bucket List</a></li>
    </ul>
  </nav>
  <h1>Bucket List Buddy</h1>
    <section>
        <div>Trip: </div>
        <div><%= trip.title %></div>
        <div>Location: </div>
        <div><%= trip.location %></div>
        <div>Date: </div>
        <div><%= trip.eventDate %></div>
        <div>Activities Include: </div>
        <div><%= trip.activities %></div>
    </section>
  </body>
</html>