<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <nav>
    <ul>
      <li><a href="/trips/profile">Your Profile</a></li>
      <li><a href="/trips">Explore Bucket Lists</a></li>
      <li><a href="/trips/new">Add To Your Bucket List</a></li>
    </ul>
  </nav>
  <h1>Bucket List Buddy</h1>
    <div>
    <table >
      <thead>
        <th>Trip:</th>
        <th>Location:</th>
        <th>Date:</th>
      </thead>
      <tbody>
        <% trip.forEach(trips => { %>
        <tr>
          <td><%= trips.title %></td>
          <td><%= trips.location %></td>
          <td><%= trips.eventDate %></td>
          <td><a href="/trips/<%= trips._id %>">DETAILS</a></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  
  
</body>
</html>
 