<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bucket list Buddy</title>
</head>
<body >
  <nav>
    <ul>
      <li><a href="/trips/profile">Your Profile</a></li>
      <li><a href="/trips">Explore Bucket Lists</a></li>
      <li><a href="/trips/new">Add To Your Bucket List</a></li>
    </ul>
  </nav>
  <h1>Bucket List Buddy</h1>
    <div>
    <table >
      <thead>
        <th>Trip:</th>
        <th>Location:</th>
        <th>Date:</th>
      </thead>
      <tbody>
        <% trips.forEach(trip => { %>
        <tr>
          <td><%= trip.title %></td>
          <td><%= trip.location %></td>
          <td><%= trip.eventDate %></td>
          <td><a href="/trips/<%= trip._id %>">DETAILS</a></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  </body>
</html>